.class-section{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 35px;
  height: 280px;
}

.user-picture-container{
  height:200px;
  clip-path: circle(100px at center);
  .user-picture{
    width: 200px;
  }
}
.user-info{
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  min-width: 350px;
  max-width: 550px;
  .css-1s2u09g-control {
    border: none;
    border-radius: 0px;
    svg{
      color: #FF984E;
      stroke-width: 1;
    }
    .css-14dclt2-Input{
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 760px) {
  .class-section{
    flex-direction: column;
    height: fit-content;
    .button-custom{
      margin-top: 8px;
      font-size: 24px;
    }
  }


}