.class-section{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 35px;
  height: 280px;
}
.class-section-user{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 10px;
  height: 220px;
}

.user-picture-container{
  height:200px;
  clip-path: circle(50% at center);
  .user-picture{
    width: 200px;
  }
}
.user-info{
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  min-width: 350px;
  max-width: 550px;

}

@media screen and (max-width: 760px) {
  .class-section{
    flex-direction: column;
    height: fit-content;
    .user-picture-container{
      clip-path: circle(100px at center);
    }
    .button-custom{
      margin-top: 8px;
      font-size: 24px;
    }
  }


}