.profile-button{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 30px;
  padding: 15px;
}
.lesson-info-container{
  display: flex;
  justify-content: space-between;
}
.lesson-content-container{
  font-family: 'Marmelad', serif;
  padding-bottom: 40px;
  h4{
    text-align: left;
    margin-top: 25px;
  }
  div{
    text-align: left;
    font-size: 16px;
    padding: 15px 15px 20px 15px
  }
  .lesson-image{
    max-width: 100%;
    margin: 15px auto;
  }
}