.card{
  border: none;
  border-radius: 0px;
  margin: 8px;
}

.card-header{
  border-radius: 0px;
  color: white;
  padding-top: 20px;
}
.cropped-image{
  height: 250px;
  object-fit: cover;
}
.card-topic-container{
  margin-top: 15px;
}
.card-topic-badges{
  padding: 8px 10px;
  margin: 5px;
  font-size: 13px;
}



// .random-color-div{

// }