
.form-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .register-title{
    background-color: #B57BFF;
  }
  .login-title{
    background-color: #66A5EF;
  }
  .form-container{
    display:flex;
    flex-direction: column;

    align-self: center;
    font-size: 18px;
    background: #fff080;
    padding: 30px;
    min-width: 350px;
    max-width: 700px;
  }
  .form-field{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  input{
    font-size: 18px;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
  }
  .custom-file-upload{
    width: 100%;
    padding: 8px;
    color: white;
    input{
      margin-bottom: 5px;
      padding: 0;
    }
  }
  .image-field{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    width: 100%;
  }
  .form-button{
    background-color: #59B057;
    padding: 10px 20px;
    margin: 20px auto;
  }
  .form-label{
    text-align: left;
    margin-bottom: 5px;
  }
}
.auth{
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

@media screen and (max-width: 550px) {
  .auth-title{
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 30px;
    width: 100vw;
  }
  .form-container{
    width: 290px;
  }
  .form-button{
    font-size: 30px;
    margin-top: 10px;
  }
  .form-field{
    input{
      .form-control{
        font-size: 14px;
        padding: 10px;
      }

    }
  }

}