.navbar{
  background-color: #59B057;
  text-align: center;
  font-family: 'Marmelad', serif;
  .home-link{
    font-size: 36px;
    margin-left: 15px;
  }
  #collapsibleNavbar{
    justify-content: right;
  }
  .logout-link:hover{
    cursor: pointer;
  }

}
@media screen and (max-width: 550px) {
  .home-link{
    margin-bottom: 20px;
  }
  .navbar-links{
    flex-direction: column;
  }
}