.navbar{
  background-color: #59B057;
  text-align: center;
  font-family: 'Marmelad', serif;
  .nav-link:hover, .home-link:hover{
    font-weight: bold;
    cursor: pointer;
    color: black;
  }
  .home-link{
    font-size: 36px;
    color: white;
  }
  .nav-link{
    color: white;
  }
  .navbar-links{
    display: flex;
  }
}
@media screen and (max-width: 550px) {
  .home-link{
    margin-bottom: 20px;
  }
  .navbar-links{
    flex-direction: column;
  }
}