.site-wrapper{
  height: 100vh;
  width: 100vw;
  min-width: 290px;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF6C7;
  text-align: center;
  a{
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  h1, h2, h3{
    font-family: 'Marmelad', serif;
  }
  h1{
    font-size: 60px;
  }
  h2{
    font-size: 36px;
  }
}
.container{
  min-height: calc(100vh - 83px);
}
.button-custom{
  font-family: 'Marmelad', serif;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  margin: 20px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
}
.button-custom:hover{
  color: black;
  cursor: pointer;
}
.button-custom:active{
  box-shadow: none;
  transform: translateY(5px);
}

.grid{
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(210, 210, 210) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(210, 210, 210) 1px, transparent 1px);
}

.auth-title{
  padding: 15px 25px;
  color: white;
}

.blue-background{
  background-color: #66A5EF;
}
.pink-background{
  background-color: #FF9494;
}
.yellow-background{
  background-color: #FFC32B;
}
.green-background{
  background-color: #59B057;
}
.purple-background{
  background-color: #B57BFF;
}
.orange-background{
  background-color: #FF984E;
}