.splash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .splash-button-container{
    display: flex;
    
    .splash-button{
      width: 250px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .small-text{
        font-size: 18px;
      }
    }
    .login-button{
      background-color: #66A5EF;
    }
    .register-button{
      background-color: #B57BFF;
      line-height: 0.85;
    }
  }

}
@media screen and (max-width: 630px) {

  .splash-button-container{
    flex-direction: column;
    .splash-button{
      font-size: 28px;
      margin: 10px;
      .small-text{
        font-size: smaller;
      }
    }
    .login-button{
      padding: 5px 0;
    }
    .register-button{
      padding-bottom: 10px;
    }
  }

}